
{% extends "./base.html" %}
{% block title %}Login page{% endblock %}

{% block content %}



<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Om oss!</h1>
            <p class="lead">Du finner oss i Engveien 6, 1400 Ski, Norway</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d257476.25644860233!2d10.552306957374334!3d59.72395303632028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e1!4m0!4m3!3m2!1d59.7240883!2d10.8326085!5e0!3m2!1sno!2sno!4v1460198587709"
                    width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="col-lg-12 text-center"><br><br>
    <h1>Hvilken måned tror du folk flest leier ski?</h1>
    <h3>Sjekk grafen og finn det ut selv! </h3>

        <script src='static/Chart.min.js'></script>
                <canvas id="chart" width="600" height="400"></canvas>
        <script>
            var barData = {
            labels : [{% for item in labels %}
                      "{{item}}",
                      {% endfor %}],
                    datasets : [
                      {
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            data : [{% for item in values %}
                                      {{item}},
                                    {% endfor %}]
                      }]
                   }

       var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = 10
       // draw bar chart
       new Chart(mychart).Bar(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true
       });
    </script>


</div>


{% endblock %}
