{% extends "./base.html" %}
{% block title %}AlpinBase{% endblock %}

{%- block styles %}
<!-- Bootstrap -->
<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/half-slider.css') }}">
{%- endblock styles %}

{% block content %}

<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill"
                 style="background-image:url('{{ url_for('static',filename='photos/finland_landscape_winter.jpg') }}');"></div>
            <div class="carousel-caption">
                <h2>Dagtid</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill"
                 style="background-image:url('{{ url_for('static',filename='photos/finland_ski_slope_winter.jpg') }}');"></div>
            <div class="carousel-caption">
                <h2>Nattåpent!</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill"
                 style="background-image:url('{{ url_for('static',filename='photos/ski_tour_winter_hike_hike.jpg') }}');"></div>
            <div class="carousel-caption">
                <h2>Offroad</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Aplin senter i Ski</h1>
            <p>Velkommen til det beste Aplinanlegget i Ski, Akershus. </p>
            <p>Dagåpent, nattåpent og offroad! Vi har alt du kunne ønske deg</p>
            <p>Vi har gleden av å tilby deg utleie av alle typer ski: Alpint nybegynnere, Langrenn, Telemark og Twintip. Bare klikk deg inn på utleie på toppmenuen </p>

            <br>
            <h2>Spar penger:</h2>
            <p>Får å gjøre det enda billigere for deg har vi gleden av å tilby deg forskjellige pakkeløsninger basert på hvor lenge du ønsker å bli!</p>

            <h3>Barn?</h3>
            <p>Vi har glede av å tilby så godt som <b><u>halvpris</u> </b> til alle barn! Barn må være yngre enn 10 år </p>

            <h3>Utleie</h3>
            <p>Basis pris er per time.</p>
            <p>Om du ønsker å kjøre mer enn 5 timer vil det lønne seg å leie en hel dag! </p>
            <p>Om du ønsker å kjøre mer enn 5 dager vil det lønne seg å leie en hel uke!</p>

            <h3>Heiskort</h3>
            <p>Basis pris er dagkort</p>
            <p>Om du ønsker å kjøre mer enn 5 dager vil det lønne seg å kjøpe ukeskort! </p>
            <p>Om du ønsker å kjøre mer enn 25 dager vil det lønne seg å Kjøpe sesongkort!</p>
        </div>
    </div>
    <hr>
</div>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

{% endblock %}


