{% extends "./base.html" %}
{% block title %}Login page{% endblock %}


{% block content %}

<div class="col-lg-12 text-center">
    <h1>Personalia</h1><br>
    <p class="lead">{{member.name}}</p>

    {% if member.paidMember == 1 %}
    <p class="lead">Du er betalt medlem av denne Alpin klubben</p>

    {% endif %}
    <a href="{{ url_for('updateMember') }}" >Oppdater personalia her</a>


</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">

            <h2>Aktive kjøp</h2>


            {% for kh in listOfRecipts %}
            {% if kh.outdated %}

            {% else %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <p class="lead">Kvitteringsnummer: {{kh.id}}</p>
                    <p class="lead">kjøpt: {{kh.startTime}}</p>
                    <p class="lead">Utgår: {{kh.endTime}}</p>
                    <p class="lead"> {{kh.utleiepakker}}</p>

                    <p class="lead">old: {{kh.outdated}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Gamle kjøp</h2>

            {% for kh in listOfRecipts %}
            {% if kh.outdated %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <p class="lead">Kvitteringsnummer: {{kh.id}}</p>
                    <p class="lead">kjøpt: {{kh.startTime}}</p>
                    <p class="lead">Utgår: {{kh.endTime}}</p>
                    <p class="lead"> {{kh.utleiepakker}}</p>
                    <p class="lead"> {{kh.lable}}</p>

                    <p class="lead">old: {{kh.outdated}}</p>
                </div>
            </div>

            {% endif %}
            {% endfor %}


        </div>

    </div>
</div>

{% endblock %}


