{% extends "./base.html" %}
{% block title %}Login page{% endblock %}


{% block content %}


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Utleie</p>
            <div class="list-group">
                {% for utleiePakke in utleiePakkene %}

                <a href="utleie/{{utleiePakke.id}}" class="list-group-item">{{utleiePakke.name}}</a>

                {% endfor %}

            </div>
        </div>
        <br>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ url_for('static',filename='photos/ski1.jpg') }}"
                                     alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ url_for('static',filename='photos/ski2.jpg') }}"
                                     alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>
            <br>
            <div class="row">

                {% for utleiePakke in utleiePakkene %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ url_for('static',filename='photos/Pakke') }}{{utleiePakke.id}}.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">fra {{utleiePakke.price}} NOK*</h4>
                            <h4><a href="utleie/{{utleiePakke.id}}">{{utleiePakke.name}}</a>
                            </h4>
                            <p>{{utleiePakke.beskrivelse}}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">ledige pakker: {{utleiePakke.antLedige}}</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>


    <div>
        <p class="pull-right">* per time</p>
    </div>
</div>
{% endblock %}
