{% extends "./base.html" %}
{% block title %}Login page{% endblock %}


{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                {% for utleiePakken in utleiePakkene %}

                <a href="{{utleiePakken.id}}" class="list-group-item">{{utleiePakken.name}}</a>

                {% endfor %}

            </div>
        </div>


        <div class="col-md-9">
            <div class="thumbnail">

                <img class="img-responsive" src="{{ url_for('static',filename='photos/Pakke') }}{{utleiePakke.id}}.jpg"
                     alt="">
                <div class="caption-full">
                    <h4 class="pull-right"> fra {{ utleiePakke.price }} NOK *</h4>

                    <h4><a href="#"><h2>{{ utleiePakke.name }}</h2></a>
                    </h4>
                    <p>{{ utleiePakke.beskrivelse }}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">Det er bare <strong>{{howManyLeft}}</strong> igjen</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 Hurtighet
                    </p>
                </div>
            </div>

            <div class="well">
                <p>Du er nødt til å være innlogget for å bestille en pakke. </p>
                <p> TODO: Du er ikke innlogget </p>

                <h3>Voksen priser</h3>
                <p> Du kan få 50% rabatt i handlekruven om du er barn(under 10 år)</p>

                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a href="/checkout/utleiepakker/{{utleiePakke.id}}/1" class="btn btn-success">
                            Per time <br>
                            {{utleiePakke.price}} NOK

                        </a>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a href="/checkout/utleiepakker/{{utleiePakke.id}}/2" class="btn btn-success">
                            Per dag <br>
                            {{utleiePakke.price*5}} NOK

                        </a>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a href="/checkout/utleiepakker/{{utleiePakke.id}}/3" class="btn btn-success">
                            Per uke <br>
                            {{utleiePakke.price*5*5}} NOK
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
<p class="pull-right">*per time</p>
</div>

{% endblock %}


