{% extends "./base.html" %}
{% block title %}Login page{% endblock %}


{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                {% for utleiePakken in utleiePakkene %}

                <a href="{{utleiePakken.id}}" class="list-group-item">{{utleiePakken.name}}</a>

                {% endfor %}

            </div>
        </div>


        <div class="col-md-9">
            <div class="thumbnail">

                <img class="img-responsive" src="{{ url_for('static',filename='photos/Pakke') }}{{utleiePakke.id}}.jpg"
                     alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{ utleiePakke.price }} NOK *</h4>
                    <h4><a href="#"><h2>{{ utleiePakke.name }}</h2></a>
                    </h4>
                    <p>{{ utleiePakke.beskrivelse }}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">*Per time</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 Hurtighet
                    </p>
                </div>
            </div>

            <div class="well">
                <p>Du er nødt til å være innlogget for å bestille en pakke. </p>
                <p> TODO: Du er ikke innlogget </p>

                <h2>Leiemulighetene dine:</h2><br>
                <h3>Voksen</h3>

                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a class="btn btn-success">
                            Per time <br>
                            {{utleiePakke.price}} NOK

                        </a>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a class="btn btn-success">
                            Per dag <br>
                            {{utleiePakke.price*5}} NOK

                        </a>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a class="btn btn-success">
                            Per uke <br>
                            {{utleiePakke.price*5*5}} NOK

                        </a>
                    </div>
                </div>
                <br>
                <h3>Barnepris**</h3>
                 <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a class="btn btn-success">
                            Per time <br>
                            {{utleiePakke.childPrice}} NOK

                        </a>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a class="btn btn-success">
                            Per dag <br>
                            {{((utleiePakke.childPrice*5))}} NOK

                        </a>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a class="btn btn-success">
                            Per uke <br>
                            {{(utleiePakke.childPrice*5*5)}} NOK

                        </a>
                    </div>
                </div>



            </div>


        </div>

    </div>

</div>

<div>
    <p class="pull-right">**Barnepris er kun for de under 10 år </p>
</div>

{% endblock %}


